<div class="page-biography">
  <h2 class="hide">Biography 美江檔案</h2>

  <div class="col-md-4">
    <%= image_tag("img_mj_profile.jpg", :class => "img-responsive", :alt => "MC 美江個人檔案照") %>
  </div>
  <div class="col-md-8">
    <dl class="dl-horizontal">
      <dt>藝名</dt> <dd>MCMJ、MC美江</dd>
      <dt>本名</dt> <dd>郭美江</dd>
      <dt>神職</dt> <dd>基督教靈恩派牧師</dd>

      <dt>學經歷</dt>
      <dd>
        美國洛杉磯中華歸主神學院道學碩士<br>
        曾任美國加州愛修園之禱告事工部主任<br>
        舊金山市東灣愛修葡萄園教會主任牧師
      </dd>

      <dt>出道時間</dt> <dd>2013</dd>
      <dt>唱腔</dt> <dd>斷開系</dd>
      <dt>擅長曲風</dt> <dd>Rap, R&amp;B, Electronic, Techno</dd>

      <dt>超自然能力</dt>
      <dd>
        斷開同性戀的網羅<br>
        整個科系都變成同性戀<br>
        五倍鑽石 Combo 連撿<br>
        皮膚病專利拍腰療法
      </dd>
    </dl>
  </div>
</div>
