<div class="col-md-12 col-sm-12">
  <h1>(絕對買不到的) MC美江週邊小物</h1>
</div>
<div class="col-md-12 col-sm-12">
  <h2>1. 神魔美江</h2>
  <%= image_tag("/mj01.jpg", :width => "33%") %>
  <%= image_tag("/mj02.jpg", :width => "33%") %>
  <%= image_tag("/mj03.jpg", :width => "33%") %>
</div>