<div class="col-md-12 col-sm-12">
  <h1>各種有才創作</h1>
</div>
<div class="col-md-12 col-sm-12">
  <h2>1. <%= link_to("MC美江音效網", "http://cornguo.atcity.org/test/mjcount/", :target => :blank) %></h2>
</div>
<div class="col-md-12 col-sm-12">
  <h2>2. <%= link_to("網羅", "http://khush.smule.com/autorap_52a87ad421540&v2", :target => :blank) %></h2>
</div>
<div class="col-md-12 col-sm-12">
  <h2>3. <%= link_to("舞曲大帝國", "http://picosong.com/kYr6/", :target => :blank) %></h2>
</div>