<div class="col-md-12 col-sm-12">
  <h1>MC美江您是我們的謬斯女神！</h1>
</div>
<div class="col-md-12 col-sm-12">
  <h2>1. <%= link_to("MC美江音效網", "http://cornguo.atcity.org/test/mjcount/", :target => :blank) %></h2>
</div>
