<div class="col-md-12 col-sm-12">
  <h1>斷開系福音 Rap 天后終於姍姍來遲!! 網友熱議，堪稱是唱片界的神蹟!!</h1>
  <div class="pull-right">
  <p>- PTT 2013/12/18</p>
  </div>
  <br>
  <hr>
</div>
<div class="col-md-12 col-sm-12 ">
  <h2>MC美江第一波主視覺</h2>
  <p>作者 <%= link_to("許泰文", "https://www.facebook.com/photo.php?fbid=241069842736316&set=a.107546112755357.12997.100004999051600&type=1&permPage=1", :target => :blank) %></p>
  <%= link_to("https://www.facebook.com/photo.php?fbid=241069842736316&set=a.107546112755357.12997.100004999051600&type=1&permPage=1", :target => :blank) do %>
	 <%= image_tag("/welcome.jpg", :width => "100%") %>
  <% end %>
</div>
<hr>
<h1>音樂作品</h1>
<p>作者及改編自作品請點擊影片看詳細資訊, 本站不一一介紹.</p>
<div class="col-md-12 col-sm-12 song">
  <iframe width="560" height="315" src="//www.youtube.com/embed/pTCW34OZs3A" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/rW6W8tehg9I" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/KZbYdffHIqA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/A2I4wo3FGtg" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/f9sdOlXeQJ8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/4Yg_qbucQd8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/0N80MqpteoE" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/Hu_Z6MMrnks" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12 song">
  <iframe width="1140" height="600" src="//www.youtube.com/embed/MU7e6F6C9l8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 col-sm-12">
  <hr>
  <h2> 作品陸續新增、募集中 !!</h2>
</div>

<%= content_for :javascripts do %>
<script type="text/javascript">
// By Chris Coyier & tweaked by Mathias Bynens

$(function() {

  // Find all YouTube videos
  var $allVideos = $("iframe[src^='//www.youtube.com']"),

      // The element that is fluid width
      $fluidEl = $(".song");

  // Figure out and save aspect ratio for each video
  $allVideos.each(function() {

    $(this)
      .data('aspectRatio', this.height / this.width)
      
      // and remove the hard coded width/height
      .removeAttr('height')
      .removeAttr('width');

  });

  // When the window is resized
  // (You'll probably want to debounce this)
  $(window).resize(function() {

    var newWidth = $fluidEl.width();
    
    // Resize all videos according to their own aspect ratio
    $allVideos.each(function() {

      var $el = $(this);
      $el
        .width(newWidth)
        .height(newWidth * $el.data('aspectRatio'));

    });

  // Kick off one resize to fix all videos on page load
  }).resize();

});
</script>
<% end %>