<div class="col-md-12 col-sm-12">
  <h1>斷開系福音 Rap 天后終於姍姍來遲!! 網友熱議，堪稱是唱片界的神蹟!!</h1>
  <div class="pull-right">
    <p>- PTT 2013/12/18</p>
  </div>
  <br>
  <hr>
</div>
<div class="col-md-12 col-sm-12">
  <h1>MC美江影音專區</h1>
  <p>作者及改編自作品請點擊影片看詳細資訊, 本站不一一介紹.</p>
</div>
<% @videos.each do |video| %>
<div class="col-md-12 col-sm-12 song">
  <%= video.iframe_code.html_safe %>
</div>
<% end %>
<div class="col-md-12 col-sm-12">
  <hr>
  <h2> 作品陸續新增、募集中 !!</h2>
</div>

<%= content_for :javascripts do %>
<script type="text/javascript">
// By Chris Coyier & tweaked by Mathias Bynens

$(function() {

  // Find all YouTube videos
  var $allVideos = $("iframe[src^='//www.youtube.com']"),

      // The element that is fluid width
      $fluidEl = $(".song");

  // Figure out and save aspect ratio for each video
  $allVideos.each(function() {

    $(this)
      .data('aspectRatio', this.height / this.width)
      
      // and remove the hard coded width/height
      .removeAttr('height')
      .removeAttr('width');

  });

  // When the window is resized
  // (You'll probably want to debounce this)
  $(window).resize(function() {

    var newWidth = $fluidEl.width();
    
    // Resize all videos according to their own aspect ratio
    $allVideos.each(function() {

      var $el = $(this);
      $el
        .width(newWidth)
        .height(newWidth * $el.data('aspectRatio'));

    });

  // Kick off one resize to fix all videos on page load
  }).resize();

});
</script>
<% end %>