<div class="col-md-12 col-sm-12">
  <h1>MC美江您是我們的謬斯女神！</h1>
</div>
<div class="col-md-12 col-sm-12">
  <% @links.each do |link| %>
  <h2><%= link.id %>. <%= link_to(link.title, link.url, :target => :blank) %></h2>
  <% end %>
</div>