.mc-header {
  padding: 30px 0 20px;
  margin-bottom: 20px;
}
.mc-brand {
  width: 291px;
  height: 73px;
  background: image-url("images/img_brand.png") no-repeat;
  text-indent: -9999px;
  margin: 1px 0 -4px;

  &, a { display: block; }
  a { height: 100%; }
}
