.mc-header {
  padding: 30px 0 20px;
  margin-bottom: 20px;
}
.mc-brand {
  width: 291px;
  height: 73px;
  background: image-url("images/img_brand.png") no-repeat;
  text-indent: -9999px;
  margin: 1px 0 -4px;

  &, a { display: block; }
  a { height: 100%; }
}

.mc-navbar {
  list-style: none;
  margin-top: 40px;
  padding: 0;

  & > li {
    display: inline-block;

    & + li { margin-left: 20px; }

    a {
      height: 18px;
      background: image-url("images/img_navbar.png") no-repeat;
      text-indent: -9999px;
      display: block;
      transition: background-position-y 100ms;

      &:hover {
        background-position-y: -27px;
      }
    }
  }

  .menu-bio {
    width: 111px;
    background-position-x: -1px;
  }
  .menu-music {
    width: 60px;
    background-position-x: -123px; // 11+111+11
  }
  .menu-gallery {
    width: 81px;
    background-position-x: -194px; // 123+61+10
  }
  .menu-links {
    width: 54px;
    background-position-x: -286px; // 194+81+11
  }
  .menu-board {
    width: 65px;
    background-position-x: -352px; // 286+54+11 +1
  }
}