@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";

.social{
   float:left;
   width: 110px;
   /*padding: 5px;*/
   padding-top: 15px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}


footer {
  border-top: 1px solid white;
  color: #ccc;
  text-align: center;
}

.song {
  iframe {
    border:1px dotted gray;
    margin: 5px;
    z-index: 99;
  }
}

ul.navbar-nav {
  li.active {
    a {
      color: black !important;
    }
  }
  li {
    a {
      color: #ccc !important;
    }
  }
}

div.navbar-header {
  /*width: 280px;*/
}

div.comments {
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.fb-comments, .fb-comments * {
    width:100% !important;
}

div.fb-head-count{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

img.image-creation-images{
  margin-right: 2px;
}

.box {
  width: 270px;
  background-color: white !important;
  color: #333;
}