<footer class="footer">
  <br>
  <p class="copyright"><%= Setting.app_name %> 為網友創意表現之蒐集, 本站並無任何侵權意圖</p>
  <p>如需聯絡請 mail 至 <%= mail_to("youngvoice.basement@gmail.com", "youngvoice.basement@gmail.com") %> 謝謝</p>
</footer>