<div class="group mc-header"><header>
  <hgroup>
    <h1 class="mc-brand">
      <%= link_to("MCMJ", Setting.domain) %>
    </h1>
    <h2 class="hide">MC美江官方網站</h2>
  </hgroup>

  <nav>
    <%= render_list :class => "mc-navbar" do |li|
      li << link_to("Biography 美江檔案", page_path("biography"), :class => "menu-bio")
      li << link_to("Music 美江美音", musics_path, :class => "menu-music")
      li << link_to("Gallery 美江藝廊", image_creations_path, :class => "menu-gallery")
      li << link_to("Links 美江魂結", links_path, :class => "menu-links")
      li << link_to("Board 美江留言", page_path("comment"), :class => "menu-board")
    end %>
  </nav>
</header></div>