<% if @search %>
  <%= search_form_for @search, :url => videos_path, :class => "navbar-form navbar-left", :method => :get, :role => "search" do |f|%>
    <div class="form-group">
      <span class="nav-toolbar-icon nav-toolbar-icon-search"></span>
      <input type="text" name="q[title_cont]" class="search-query form-control " value="<%= @query_string %>" placeholder="<%= @query_string ||   "ex. 燒毀" %>" />
    </div>
  <% end %>
<% end %>
